<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <title>Create</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:1337/rentalsystem/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-item nav-link " href="http://localhost:1337/rentalsystem/search">Search</a>
                <a class="nav-item nav-link " href="http://localhost:1337/rentalsystem/create">Create</a>
                <a class="nav-item nav-link active" href="http://localhost:1337/rentalsystem/admin">Admin<span class="sr-only">(current)</span></a>
            </div>
            <div class="navbar-nav">

                    <a class="navbar-brand my-2 my-sm-0 "href="javascript:logout()">hi <%=session.username%>(logout)</a>
            </div>
        </div>
    </nav>
    <!--jumbotron-->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Real Estate Rental System</h1>
            <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and finding roommates</p>
        </div>
    </div>
    <h3 id='title' class='title'>PropertyCreateform</h3>
    <!--form-->
    <form action="/rentalsystem/edit/<%=rentalsystem.id %>" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Propertytitle">Property title:</label>
                <input type="text" class="form-control" id="Propertytitle" name="Rentalsystem[Propertytitle]"value ="<%=rentalsystem.Propertytitle %>"required>
            </div>
            <div class="form-group col-md-6">
                <label for="image">Image URL:</label>
                <input type="text" class="form-control" id="image" name="Rentalsystem[image]" value="<%=rentalsystem.image %>" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Estate">Estate:</label>
                <select id="Estate" class="form-control" name="Rentalsystem[Estate]">
                    <option selected><%=rentalsystem.Estate %></option>
                    <option>Festival City</option>
                    <option>Tin Ma Court</option>
                    <option>City One Shatin</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="Bedrooms">Bedrooms</label>
                <input type="number" class="form-control" id="Bedrooms" name="Rentalsystem[Bedrooms]" value="<%=rentalsystem.Bedrooms %>"required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="area">Gross Area:</label>
                <input type="number" class="form-control" id="area" name="Rentalsystem[area]"value="<%=rentalsystem.area %>" required>

            </div>
            <div class="form-group col-md-6">
                <label for="tenants">Expected Tenants:</label>
                <input type="number" class="form-control" id="tenants" name="Rentalsystem[tenants]"value="<%=rentalsystem.tenants %>" required>

            </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="rent">Rent:</label>
                    <input type="number" class="form-control" id="rent" name="Rentalsystem[rent]"value="<%=rentalsystem.rent %>" required>
    
                </div>
            
                <div class="form-group  form-check ">
                   
                    <input type="checkbox" class="form-check-input" value="<%=rentalsystem.high %>" id="high" name="Rentalsystem[high]">
                   
                    <label class="form-check-label" for="high">Highlighted Property</label>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary"onclick="updateHouse('<%=rentalsystem.id%>')">submit</button>
                </div>
            </div>
           
    </form>
   
   
   
            
    

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        if("<%=rentalsystem.high%>"=="highlighted"){
        var a =document.getElementById("high");
        a.checked =true;
        }
       


    </script>
    <script>

            async function logout() {
        
                var r = confirm("Confirm logout?");
        
                if (r) {
        
                    var response = await fetch("/user/logout/",{
                        method: "POST",
                        credentials: 'same-origin',
                    });
        
                    if (response.ok) {
                        var data = await response.json();
                        alert(data.message);
                        window.location = data.url;
                    } else {
                        alert(response.status + ": " + response.statusText);
                    }
        
                } else {
                    alert("cancelled");
                }
        
            };
        
        </script>
 
</body>